<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace:命名空间，该值与接口保持一致 -->
<mapper namespace="com.baa.dailyreport.dao.UserDao">
	<!-- 定义beans类属性与数据表字段对应关系 -->
	<resultMap id="UserMap" type="com.baa.dailyreport.bean.User">
		<id column="userid" jdbcType="VARCHAR" property="userid" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="userpassword" jdbcType="VARCHAR" property="userpassword" />
	</resultMap>


	<!-- 登录 -->
	<select id="login" parameterType="INTEGER" resultType="com.baa.dailyreport.bean.User">
		select *
		from users where userid=#{userid} and userpassword=#{userpassword}
	</select>
	<!-- 查询所有 -->
	<select id="findUserById" parameterType="User"
		resultType="com.baa.dailyreport.bean.User">
		select * from users where userid=#{userid}
	</select>
	<select id="queryAll" resultMap="UserMap">
		select * from users
	</select>
</mapper> 