<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>用户管理-用户查询</title>
<link href="../../../resource/css/bootstrap.min.css" rel="stylesheet" />
<script type="text/javascript" src="../../../resource/js/jquery.min.js"></script>
<script type="text/javascript"
	src="../../../resource/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
		<ul class="breadcrumb" style="margin: 0px;">
			<li>系统管理</li>
			<li>用户管理</li>
			<li>用户查询</li>
		</ul>
	</div>
	<form action="" class="form-inline">
		<div class="row alert alert-info" style="margin: 0px; padding: 5px; ">
			<div class="form-group">
				<label>条件:</label> <select class="form-control">
					<option>姓名</option>
					<option>性别</option>
				</select> <input type="text" class="form-control"  placeholder="请输入查询条件"/>
			</div>
			<input type="button" class="btn btn-danger" value="查询"> 
			<a href="user_add.html" class="btn btn-success" >添加用户</a>
		</div>
		<div class="row" style="padding: 15px;">
			<table class="table table-hover table-condensed">
				<tr>
					<th>用户编号</th>
					<th>用户账号</th>
					<th>用户姓名</th>
					<th>用户性别</th>
					<th>用户年龄</th>
					<th>家庭地址</th>
					<th>操作</th>
				</tr>
				<tr>
					<td>10001</td>
					<td><a href="user_show.html">admin10001</a></td>
					<td>猪八戒</td>
					<td>男</td>
					<td>250</td>
					<td>重庆市高老庄</td>
					<td>
						<a href="user_update.html">修改</a>
						<a href="user_update.html">删除</a>
					</td>
				</tr>			<tr>
					<td>10001</td>
					<td>admin10001</td>
					<td>猪八戒</td>
					<td>男</td>
					<td>250</td>
					<td>重庆市高老庄</td>
					<td>
						<a href="user_update.html">修改</a>
						<a href="user_update.html">删除</a>
					</td>
				</tr>			<tr>
					<td>10001</td>
					<td>admin10001</td>
					<td>猪八戒</td>
					<td>男</td>
					<td>250</td>
					<td>重庆市高老庄</td>
					<td>
						<a href="user_update.html">修改</a>
						<a href="user_update.html">删除</a>
					</td>
				</tr>			<tr>
					<td>10001</td>
					<td>admin10001</td>
					<td>猪八戒</td>
					<td>男</td>
					<td>250</td>
					<td>重庆市高老庄</td>
					<td>
						<a href="user_update.html">修改</a>
						<a href="user_update.html">删除</a>
					</td>
				</tr>
				
			</table>

		</div>
	</form>
</body>
</html>